body {
	font-family: 'Open Sans', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.header {
	text-align: center;	
}

#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
}

#succeed-info h2 {
	margin-bottom: 1rem;
	padding-bottom: 3%;
}

#succeed-info h3 {
	text-align: left;
	margin-bottom: 1rem;
}

#succeed-info .card {	
	min-height: 100px;	
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	vertical-align: top;	
}

#pre-footer	{	
	vertical-align: top;
	text-align: left;
	background-color: #002540;	
}

#pre-footer .pre-footer {
	text-align: left;
	color: whitesmoke;
	font-size: 15px;
	vertical-align: top;
	display: inline-block;
	padding-left: 1%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}


footer {
	padding: 0.7rem;
	vertical-align: top;	
}

footer span {
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

/*solution*/

#pre-footer	{
	background-color: #002540;	
}

#pre-footer .pre-footer {	
}